pybase64
gunicorn
python-dotenv
Requests==2.29.0
Flask==2.2.2
Werkzeug==3.03
pillow>=10.3.0
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib==1.0.0
env_canada == 0.6.0
babel == 2.12.1
pycairo == 1.24.0
cairosvg == 2.7.1
tinycss == 0.4
cssselect == 1.2.0
timezonefinder == 6.2.0

# # to use cairosvg on windows
# pip install pipwin
# pipwin install cairocffi